.catalog {
  display: grid;
  grid-template-columns: 200px;
  gap: 48px;
  justify-content: center;
  margin: 0 auto;

  $widths:
    "2" 488px,
    "3" 768px,
    "4" 1024px;

  @each $i,
    $wide in $widths {
    @media (min-width:#{$wide}) {
      grid-template-columns: repeat(#{$i}, 200px);
    }
  }

  &__card {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
