.catalog {
  grid-template-columns: repeat(1, 1fr);
  display: grid;
  gap: 48px;

  $wides:
    "2" 488px,
    "3" 768px,
    "4" 1024px;

  @each $i,
    $wide in $wides {
    @media (min-width:#{$wide}) {
      grid-template-columns: repeat(#{$i}, 1fr);
    }
  }

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
